/*******************************
             Video
*******************************/

$video-background: #DDDDDD;
$video-placeholder-background: #333333;

$video-play-size: 8rem;
$video-play-color: #FFFFFF;
$video-play-opacity: 0.8;
$video-play-hover-opacity: 1;
$video-play-shadow: none;

$video-play-border-size: 0;
$video-play-background: rgba(0, 0, 0, 0.3);
$video-play-border-radius: $circular-radius;